.main{
  padding: 5vh 14vw;
}
.one{
  float: left;
  padding: 3vw 1.5vw;
  margin: .5vw;
  width: 10vw;
  text-align: center;
  border-radius: .5vw;
  color:#fff;
  cursor: pointer;
}
p{
  margin: 0;
}
